/* Nonito google font*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Open+Sans:wght@300;400&display=swap");

* {
  text-align: center;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

h1 {
  margin-top: 50px;
}

body {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #633bcf);
}

.input {
  margin-bottom: 20px;
  width: 200px;
  height: 35px;
  border-radius: 7px;
}

.label {
  margin-right: 30px;
  display: block;
}

.btn {
  font-size: 16px;
  color: #fff;
  width: 100px;
  height: 30px;
  margin-top: 15px;
  border: 2px solid green;
  border-radius: 20px;
  background-color: rgb(89, 161, 161);
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  color: rgb(89, 161, 161);
}

.far {
  color: rgb(17, 4, 56);
}

textarea {
  width: 200px;
  resize: none;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
}
